<div class="container">
  <div class="logo">Crear nueva pelicula!</div>
  <div class="register-item">
    <form #myform="ngForm" [formGroup]="myForm" ngNativeValidate (ngSubmit)="register(myform)" class="form form-register">

      <div class="form-field">
        <label for="movie-name">Nombre: </label>
        <input type="text" required id="movie-name" name="movie[name]" [formControl]="myForm.get('name')">
      </div>

      <div class="form-field">
       <label for="movie-description">Sinopsis: </label>
        <textarea id="movie-description" name="movie[description]" [formControl]="myForm.get('description')"></textarea>
      </div>

      <div class="form-field">
        <label for="movie-url">Url: </label>
        <input type="text" required id="movie-url" name="movie[url]" [formControl]="myForm.get('url')">
      </div>

      <div class="form-field">
        <label for="movie-url">Days: </label>

        <input type="checkbox" id="day-1" name="days[]" value="1" > <label for="day-1">Monday</label>
        <input type="checkbox" id="day-2" name="days[]" value="2"><label for="day-2"> Tuesday </label>
        <input type="checkbox" id="day-3" name="days[]" value="3"><label for="day-3"> Wednesday </label>
        <input type="checkbox" id="day-4" name="days[]" value="4"><label for="day-4"> Thursday </label>
        <input type="checkbox" id="day-5" name="days[]" value="5"><label for="day-5"> Friday </label>
        <input type="checkbox" id="day-6" name="days[]" value="6"><label for="day-6"> Saturday </label>
        <input type="checkbox" id="day-7" name="days[]" value="7"><label for="day-7"> Sunday </label>
      </div>

      <div class="form-field">
        <input type="submit" value="Create">
      </div>
    </form>
  </div>
</div>
