.content-movie{
  padding-left: 0;
  padding-right: 0;
  margin-left: 25px;
  margin-top: 25px;
}

.content-movie img{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.card-img-overlay{
  display: none;
  background-color: rgb(32, 135, 254, 0.4);
}

.card-img-overlay:hover{
  display: block;
}

.content-movie img:hover + .card-img-overlay {
  display: block;
}

.btn-reservation{
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  font-size: 10pt;
}


